a.social-link
    display inline-block
    color #f5f5f5
    margin-right 10px

a.beian-link
    display inline-block
    color #811208
    margin-right 10px
    font-size 20px
    margin-top 10px

    &:hover
        color #e0e0e0

.footer-container
    padding-top 20px
